<html>
<head>
<title>Bitsocket Fountainhead</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 12px;
  margin: 0;
  background: #f5f5f5;
}
.content {
  border-bottom: 1px rgba(255,255,255,0.1) solid;
}
.container {
  color: white;
  font-family: "Helvetica Neue", helvetica, arial;
  font-size: 1em;
}
header {
  display: flex;
}
.flexible {
  flex-grow: 1;
}
header > a {
  display: inline-block;
  color: #464646;
  font-family: "Helvetica Neue", helvetica, arial;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}
header > .item {
  border-left: 1px solid rgba(255,255,255,0.3);
  padding: 0 10px;
  margin: 10px 0;
}
header > .dark {
  background: rgba(0,0,0,0.8);
  margin: 0;
  padding: 10px;
  font-weight: bold;
}
.align-center {
  text-align: center;
}
pre {
  white-space: pre-wrap; 
}
.table {
  overflow: auto;
}
table {
  /*background: #2d2d2d;*/
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(odd) {
  background-color: #00000005 !important;
}
th td {
  text-align: center;
}
td.top {
  background: whitesmoke;
  font-weight: bold;
  position: relative;
}
td.top i {
  margin-right: 5px;
}
td {
  -webkit-transition: width 1s;
  transition: width 1s;
}
td.top:hover {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}
td.top.expanded {
  background: rgba(0,0,0,0.2);
  width: 70%;
}
td {
  word-wrap:break-word;
  font-size: 12px;
  /*border: 1px solid whitesmoke;*/
  padding: 5px;
  color: rgba(0,0,0,0.7);
}
.btn {
  padding: 5px 20px;
  border-radius: 2px;
  text-decoration: none;
  border: 2px solid #2a2a2a;
}
.btn-border {
  color: #2a2a2a;
}
.btn-filled {
  background: #2a2a2a;
  color: #ffffff;
}
#editor {
  width: 100%;
}
.label {
  background: ##fff6d4;
  color: #5c5454;
  padding: 5px 10px;
}
button {
  padding: 9px;
  background: #A5C261;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.spinner {
  color: white;
  text-align: center;
  padding: 100px;
}
input.url:focus{
  outline: none;
}
input.url {
  background: rgba(0,0,0, 0.1);
  padding: 10px;
  border: none;
  font-family: Menlo, monaco, Courier;
  font-size: 11px;
  transition: background 1000ms ease-in;
  border-radius: 0;
  -webkit-appearance: none;
}
input.url.updated {
  background: gold;
}
a.brand {
  margin: 10px;
  font-size: 16px;
  font-family: "Helvetica Neue", helvetica, arial;
}
tr {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.flex {
  display: flex;
  padding: 8px 8px 6px 0px;
  align-items: center;
}
.label {
  padding: 10px;
}
.date-td {
  text-align: center;
  vertical-align:top;
  width: 5rem;
  color: rgba(0,0,0,0.7);
}
.loading {
  padding: 15px;
  text-align: center;
  font-size: 12px;
  color: rgba(0,0,0,0.7);
}
.fa, .fas {
  font-weight: 900;
  color: #000;
  font-size:0.89em;
  padding: 0;
  margin: 0;
}
</style>

<link rel="stylesheet" href="/jsontree.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/mode-json.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="/jsontree.js"></script>
<script id="grid-template" type="text/x-handlebars-template">
  <table>
    <thead>
      <tr>
        {{#each keys}}
          <td class='top {{this}}'><i class='fas fa-expand-arrows-alt'></i>{{this}}</td>
        {{/each}}
      </tr>
    </thead>
    <tbody id="clusterize_content_unconfirmed" class="clusterize-content">
    </tbody>
  </table>
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class='container'>
    <header>
      <a href='/' class='brand'>Bitsocket Fountainhead</a>
      <div class='flexible'></div>
      <a target='_blank' href='https://docs.fountainhead.cash' class='item'><i class='fas fa-book'></i> Documentation</a>
    </header>
    <div class='jumbotron align-center header'>
      <div id='editor'><%=code%></div>
      <div class='flex'>
        <span class='label'>API endpoint</span>
        <input readonly class='flexible url'>
        <button id='query'>OPEN SOCKET</button>
      </div>
    </div>
  </div>
  <div class='loading'>
      <span class='led'>
        <span>
         <i class="fas fa-power-off spinner"></i>
        </span>
         <span class='msg'></span>
      </span>
    </div>
  <main>
    <div id='channel'>
      <div class='content'>
        <table>
          <tbody id="channel-content-area">
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>
<script>

var audio = {
  u: new Audio('/u.mp3'),
  c: new Audio('/c.mp3'),
  muted: false
}
audio.u.loop = false;
audio.c.loop = false;

var endpoint = '<%=bitserve_url%>';
var source   = document.getElementById("grid-template").innerHTML;
var template = Handlebars.compile(source);
var editor;
document.addEventListener("DOMContentLoaded", function(e) {
  editor = ace.edit("editor");
  editor.session.setMode("ace/mode/json");
  editor.setTheme("ace/theme/idle_fingers");
  editor.setShowPrintMargin(false);
  editor.setOptions({
    maxLines: Infinity,
    minLines: 3,
    tabSize: 2,
    useSoftTabs: true
  })
  editor.getSession().on('change', function() {
    var query = editor.getValue();
    history.pushState(null, null, window.location.origin + "/channel/" + btoa(query));
    updateUrl(query)
  })
  run()
  document.querySelector("#query").addEventListener("click", function(e) {
    run()
  })
  document.body.addEventListener("click", function(e) {
    if (e.target.classList.contains("top")) {
      if (e.target.classList.contains("expanded")) {
        e.target.classList.remove("expanded");
      } else {
        e.target.classList.add("expanded");
      }
    }
  })
})
let bitsocket = null;
var run = function() {
  var query = editor.getValue();
  console.log("query = ", query)
  if (query && query.length > 0) {
    try {
      // make sure it's JSON
      var parsed = JSON.parse(query)
      console.log(parsed)

      if ((parsed && parsed.request) || (parsed && parsed.v) ) {
        updateUrl(query)

        if (bitsocket !== null) {
            bitsocket.close()
        }

        bitsocket = new EventSource(endpoint + btoa(query));
        
        bitsocket.onopen = function(e) { // start spinning
          document.querySelector(".loading i.spinner").classList.add("fa-spin")
          document.querySelector(".loading .msg").innerHTML = "listening..."
        }
        
        bitsocket.onclose = function(e) { // stop spinning
          document.querySelector(".loading i.spinner").classList.remove("fa-spin")
          document.querySelector(".loading .msg").innerHTML = "stopped..."
          console.log(e)
        }

        bitsocket.onmessage = function(e) {
          let data = JSON.parse(e.data);
          
          if (data.type === 'block') {
            audio.c.play().catch(function(e) { });
          } else if (data.type === 'mempool') {
            audio.u.play().catch(function(e) { });
          }

          if(data.type == "mempool" || data.type == "block") { // disallow non-bitcoin related stuff
            let tbody = document.getElementById('channel-content-area');
            let tr = tbody.insertRow(-1); // put at start
            let node = document.createElement('tr');
            node.innerHTML = render(data.data, data.type); // "type":"" isn't queryable
            tr.parentNode.prepend(node);          
          }
        }
      }
    } catch (e) {
      console.log("query invalid json", e)
    }
  }
}
var updateUrl = function(query) {
  var base64 = btoa(query)
  var u = document.querySelector(".url");
  u.value = endpoint + base64;
  u.classList.add("updated");
  setTimeout(function() {
    u.classList.remove("updated");
  }, 500)
}

var render = function(item, type) {
  return "<td class='main-td'>"+JSONTree.create(item)+"</td><td class='date-td'><div>"+type+"</div>"+((new Date).toLocaleTimeString())+"</td>";
}
</script>
</html>
