.jstValue {
    white-space: pre-wrap;
    font-size: 1em;
    font-weight: 400;
    font-family: monospace;
}
.jstComma {
    white-space: pre-wrap;
    color: #aaaaaa;
}
.jstProperty {
    color: rgba(0,0,0,0.7);
    word-wrap: break-word;
}
.jstBracket {
    white-space: pre-wrap;;
    color: #999;
}
.jstBool {
    color: #2525CC;
}
.jstNum {
    color: #1d9600;
}
.jstNull {
    color: gray;
}
.jstStr {
    color: rgba(0,0,0,0.7);
}
.jstFold {
    color: #001b58;
    font-size: 1.3em;
}
.jstFold:after {
    content: ' -';
    cursor: pointer;
}
.jstExpand {
    white-space: normal;
    color: #696969;
}
.jstExpand:after {
    content: ' +';
    cursor: pointer;
}
.jstFolded {
    white-space: normal !important;
}
.jstHiddenBlock {
    display: none;
}
